/* 변수선언 html 에서 root는 html을 가르킨다. */
:root {
    /* color */
    --mc: rgb(231, 8, 0);
    --gc: rgb(191, 191, 191);
    --wc: #f8f9fa;
    --dc: #000;
}

html {
    font-size: 20px;
}

body {
    font-size: 0.8rem;
}

.top_banner {
    /* 속성: var(변수값) */
    border-top: 7px solid var(--mc);
    border-bottom: 1px solid var(--gc);
    font-size: 0.65rem;
    line-height: 1.5rem;
}

.top_banner .container {
    /* margin:0 auto 중간정렬 맞춘 뒤, 끝점으로 정렬하는
       justify-content: flex-end; 사용한다. */
    display: flex;
    justify-content: flex-end;
    width: 60rem;
    margin: 0 auto;
}

.top_banner li {
    border-right: 1px solid #ddd;
    padding: 0 0.5rem;
}

.header {
    line-height: 5rem;
}

.header .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.header h1 img {
    width: 300px;
}

.header nav {
    margin: 0 0 0 auto;
}

.header nav>ul {
    display: flex;
    gap: 2rem;
}

.header nav>ul a {
    display: block;
    font-size: 0.85rem;
}

.header nav>ul>li {
    position: relative;
}

.header nav>ul>li~li::before {
    /* 자주 쓰는 칸 태그 inset */
    /* 새 컨텐츠를 추가하는 가상 요소 ::before", "::after" 
       콜론(:) 2개를 붙여 가상 요소임을 표기*/
    content: "";
    position: absolute;
    inset: 50% auto auto -1rem;
    width: 1px;
    height: 0.6rem;
    background: var(--gc);
    transform: translateY(-50%);
}

.header i {
    /* i 아이콘 css엔 font-weight 주지 않는다.  */
    font-size: 1.25rem;
    padding: 0.25rem;
    background: var(--gc);
    border-radius: 3px;
    margin: 0 0 0 1rem;
    vertical-align: middle;
}

.main_visual {
    position: relative;
}

.main_visual::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 배경 이미지 불러오는 태그 */
    background: url(../img/pt-bg01.png)
}

.main_slider img {
    width: 100%;
}

.main_visual .slogan {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    text-align: right;
    color: var(--wc);
    z-index: 999;
}

.main_visual .slogan h2 {
    font-size: 4rem;
    font-weight: 700;
    margin: 0 0 2rem 0;
}

.main_visual .slogan h2::after {
    content: "";
    display: block;
    width: 4rem;
    height: 2px;
    background: var(--wc);
    margin: 1rem 0 0 auto;
}

.main_visual .slogan p {
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.4;
}

.main_visual figure {
    height: 30rem;

}

.main_visual .itm01 {
    background: url(../img/main_bg01.jpg) no-repeat center center/auto 100%;
}

.main_visual .itm01.on {
    background: url(../img/main_bg01.jpg) no-repeat center center/auto 120%;
    transition: 2s;
}

.main_visual .itm02 {
    background: url(../img/main_bg02.jpg) no-repeat center center/auto 100%;
}

.main_visual .itm02.on {
    background: url(../img/main_bg02.jpg) no-repeat center center/auto 120%;
    transition: 2s;
}

.main_visual .itm03 {
    background: url(../img/main_bg03.jpg) no-repeat center center/auto 100%;
}

.main_visual .itm03.on {
    background: url(../img/main_bg03.jpg) no-repeat center center/auto 120%;
    transition: 2s;
}


.content {
    padding: 100px 0;
}

.content .container {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}

.content figure {
    flex: 1;
}

.content figure .box {
    overflow: hidden;
    margin: 0 0 20px 0;
}

.content figure img {
    transition: 2s;
}

.content figure:hover img {
    transform: scale(1.5);
}

.content strong {
    display: block;
    font-size: 19px;
    font-weight: 500;
    margin: 0 0 17px 0;
}

.content p {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.4;
}

.product {
    padding: 30px 0;
    border-top: 1px solid var(--gc);
}

.product .container {
    display: flex;
    gap: 3px;
    width: 1200px;
    margin: 0 auto;
}

.product .container .left {
    flex: 2;
}

.product .container .right {
    flex: 1;
    line-height: 1.4;
    border-left: 1px solid var(--gc);
    padding: 15px 0 0 30px;
}

.product .container .left ul {
    display: flex;
    gap: 10px;
    margin: 0 30px 0 0;
}

.product .tel {
    border-bottom: 1px solid var(--mc);
    margin: 0 0 15px 0;
    font-size: 31px;
    font-weight: 700;
    line-height: 2;
}


.customer {
    display: flex;
}

.customer>div {
    flex: 1;
}

.customer .left {
    text-align: right;
    background: url(../img/main_banner01.jpg) no-repeat center center/cover;
}

.customer .right {
    background: url(../img/main_banner02.jpg) no-repeat center center/cover;
    border-left: 1px solid var(--gc);
}

.customer>div a {
    display: block;
    color: #fff;
    padding: 50px 40px;
    text-shadow: 0 0 10px var(--dc);
    background: url(../img/pt-bg04.png);
}

.customer>div a h3 {
    font-size: 31px;
    font-weight: 500;
    margin: 0 0 15px 0;
}

.customer>div a p {
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
}

.footer {
    padding: 30px 0 50px 0;
    font-size: 13px;
    background-color: rgb(214, 214, 214);
}

.footer .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.footer .logo {
    flex: 1;
}

.footer address {
    flex: 4;
    font-style: normal;
    padding: 15px 0 0 0;
}

.footer address ul {
    margin: 0 0 5px 0;
}

.footer address ul li {
    display: inline-block;
}

.footer address ul li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    background: var(--gc);
    margin: 0 10px;
}