/* 변수선언 html 에서 root는 html을 가르킨다. */
:root {
    /* color */
    --mc: rgb(231, 8, 0);
    --gc: rgb(224, 0, 0);
    --wc: #f8f9fa;
    --dc: #000;
}

html {
    font-size: 20px;
}

body {
    font-size: 0.8rem;
}

.top_banner {
    /* 속성: var(변수값) */
    border-top: 7px solid var(--mc);
    border-bottom: 1px solid var(--gc);
    font-size: 0.65rem;
    line-height: 1.5rem;
}

.top_banner .container {
    /* margin:0 auto 중간정렬 맞춘 뒤, 끝점으로 정렬하는
       justify-content: flex-end; 사용한다. */
    display: flex;
    justify-content: flex-end;
    width: 60rem;
    margin: 0 auto;
}

.top_banner li {
    border-right: 1px solid #ddd;
    padding: 0 0.5rem;
}

.header {
    line-height: 5rem;
}

.header .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.header h1 img {
    width: 300px;
}

.header nav {
    margin: 0 0 0 auto;
}

.header nav>ul {
    display: flex;
    gap: 2rem;
}

.header nav>ul a {
    display: block;
    font-size: 0.85rem;
}

.header nav>ul>li {
    position: relative;
}

.header nav>ul>li~li::before {
    /* 자주 쓰는 칸 태그 inset */
    /* 새 컨텐츠를 추가하는 가상 요소 ::before", "::after" 
       콜론(:) 2개를 붙여 가상 요소임을 표기*/
    content: "";
    position: absolute;
    inset: 50% auto auto -1rem;
    width: 1px;
    height: 0.6rem;
    background: var(--gc);
    transform: translateY(-50%);
}

.header i {
    /* i 아이콘 css엔 font-weight 주지 않는다.  */
    font-size: 1.25rem;
    padding: 0.25rem;
    background: var(--gc);
    border-radius: 3px;
    margin: 0 0 0 1rem;
    vertical-align: middle;
}

.main_visual {
    position: relative;
}

.main_slider img {
    width: 100%;
}

.main_visual .slogan {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    text-align: right;
    color: var(--wc);
}

.main_visual .slogan h2 {
    font-size: 4rem;
    font-weight: 700;
    margin: 0 0 2rem 0;
}

.main_visual .slogan h2::after {
    content: "";
    display: block;
    width: 4rem;
    height: 2px;
    background: var(--wc);
    margin: 1rem 0 0 auto;

}

.main_visual .slogan p {
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.4;
}

.main_visual figure {
    height: 30rem;

}

.main_visual .itm01 {
    background: url(../img/main_bg01.jpg) no-repeat center center/100%;
}

.main_visual .itm01.on {
    background: url(../img/main_bg01.jpg) no-repeat center center/150%;
    transition: 2s;
}

.main_visual .itm02 {
    background: url(../img/main_bg02.jpg) no-repeat center center/100%;
}

.main_visual .itm02.on {
    background: url(../img/main_bg02.jpg) no-repeat center center/150%;
    transition: 2s;
}

.main_visual .itm03 {
    background: url(../img/main_bg03.jpg) no-repeat center center/100%;
}

.main_visual .itm03.on {
    background: url(../img/main_bg03.jpg) no-repeat center center/150%;
    transition: 2s;
}