.header {
    line-height: 100px;
    background: #ddd;
}

.header .container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.header .container ul {
    display: flex;
    gap: 40px;
}

.visual {
    position: relative;
    height: 600px;
    background: #333;
    color: #fff;
    line-height: 600px;
    text-align: center;
}

.footer {
    text-align: center;
    line-height: 100px;
    background: #ddd;
}

/*    display: none; 넣으면 버튼이 사라짐 */
.mopen {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    background: #ff0;
}

.mopen span {
    position: absolute;
    left: 5px;
    right: 5px;
    height: 2px;
    background: #333;
}

/* position 공부하기 딱 조아 */
.mopen span:nth-child(1) {
    top: 7px;
}

.mopen span:nth-child(2) {
    top: 14px;
}

.mopen span:nth-child(3) {
    top: 14px;
}

.mopen span:nth-child(4) {
    bottom: 5px;
}

@media (max-width:1000px) {
    .header {
        line-height: 100px;
        background: #fff;
    }
    
    .header .container {
        display: flex;
        justify-content: space-between;
        width: auto;
        margin: 0 auto;
    }
    
    .header .container ul {
        display: flex;
        flex-direction: column;
        gap: 40px;
        line-height: 40px;
    }

    nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: calc(100% - 90px);
        height: 100vh;
        background: rgb(205, 229, 252);
        z-index: 999;
        transition: left 0.5s;
    }

    nav.on {
        left: 0;
    }
    
    .visual {
        height: 600px;
        background: rgb(17, 53, 129);
        color: rgb(0, 0, 0);
        line-height: 600px;
        text-align: center;
    }
    
    .footer {
        text-align: center;
        line-height: 100px;
        background: rgb(138, 189, 251);
    }
    
    /*    display: none; 넣으면 버튼이 사라짐 */
    .mopen {
        display: block;
        position: fixed;
        top: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
        background: #ff0;
    }
    
    .mopen span {
        position: absolute;
        left: 5px;
        right: 5px;
        height: 2px;
        background: #333;
    }
    
    /* position 공부하기 딱 조아 */
    .mopen.on span:nth-child(1) {
        display: none;
    }
    
    .mopen.on span:nth-child(2) {
        transform: rotate(45deg);
    }
    
    .mopen.on span:nth-child(3) {
        transform: rotate(-45deg);
    }
    
    .mopen.on span:nth-child(4) {
        display: none;
    }

}