@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

.top_banner button::after {
    content: "close";
}

.top_banner.active button::after {
    content: "open";
}

.top_banner .container {
    width: 1200px;
    margin: 0 auto;
    height: 100px;
    overflow: hidden;
    transition: 0.4s;
}


.top_banner.active .container {
    height: 0;
}

.top_banner.active i {
    transform: rotate(180deg);
}

.top_banner {
    position: relative;
    background: rgb(57, 133, 219);
}

.top_banner button {
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 100px;
    line-height: 20px;
    transform: translateX(-50%);
    margin-left: 550px;
    background-color: #ff0;
    border: none;
    outline: none;
    /* cursor 마우스 커서 변경 태그 */
    cursor: no-drop;
}



.header {
    line-height: 100vh;
    background: rgb(198, 221, 231);
    color: rgb(59, 59, 59);
    text-align: center;
}


.right_banner {
    position: fixed;
    top: 50vh;
    right: -100px;
    background: rgb(0, 136, 255);
    transition: right 0.5s;
}

.right_banner:hover {
    right: 0;
}

.sun {
    position: absolute;
    top: 300px;
    right: 200px;
    width: 100px;
    height: 100px;
    background: #f00;
    border-radius: 50%;
    animation: sun_move 5s infinite linear;
}

.sun li {
    position: absolute;
    width: 20px;
    height: 5px;
    background: #f00;
}

.sun li:nth-child(1) {
    top: 48px;
    left: -40px;
}

.sun li:nth-child(2) {
    top: 48px;
    left: 120px;
}

.sun li:nth-child(3) {
    top: -20px;
    left: 35px;
    transform: rotate(90deg);
}

.sun li:nth-child(4) {
    top: 120px;
    left: 36px;
    transform: rotate(90deg);
}

@keyframes sun_move {
    to {
        transform: rotate(360deg);
    }
}


.car {
    position: fixed;
    bottom: 50px;
    right: 100px;
    width: 300px;
    height: 100px;
    background: rgb(0, 170, 255);
    border-radius: 60px 15px 0 0;
    animation: car_move 4s infinite linear;
}

.car li:nth-child(1) {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 35px;
    height: 50px;
    background: rgb(255, 255, 255);
    border-radius: 120px 0 0 0;
}

.car li:nth-child(2) {
    position: absolute;
    bottom: -15px;
    left: 20px;
    width: 30px;
    height: 30px;
    background: rgb(249, 253, 0);
    border-radius: 10px;
    animation: baki 1s infinite linear;
}

.car li:nth-child(3) {
    position: absolute;
    bottom: -15px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: rgb(249, 253, 0);
    border-radius: 10px;
    animation: baki 1s infinite linear;
}


@keyframes baki {
    to {
        transform: rotate(-360deg);
    }
}

@keyframes car_move {
    to {
        right: 2000px
    }
}


.myheart {
    position: absolute;
    top: 250px;
    left: 250px;
    color: rgb(255, 30, 143);
    font-size: 120px;
    animation: heart 1.5s infinite;
}

@keyframes heart {
    to {
        transform: scale(3);
        opacity: 0;
    }
}